content/Ops/N8N/workflows/zhihu/Fetch Hot Question URL.json
{
  "name": "Fetch Hot Question URL",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"account-name\": \"\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1584,
        976
      ],
      "id": "873b5ee3-bb8d-4532-91eb-4f8947f34ab1",
      "name": "Parent WF"
    },
    {
      "parameters": {
        "url": "https://www.zhihu.com/api/v4/creators/rank/hot?domain=1000016&period=hour&limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.constants.accept }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.constants['user-agent'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        688
      ],
      "id": "37e1bb63-b548-48eb-98c1-8165345ab11a",
      "name": "社会学",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.zhihu.com/api/v4/creators/rank/hot?domain=1000013&period=hour&limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.constants.accept }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.constants['user-agent'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        976
      ],
      "id": "1ac46655-4487-4355-b708-949e6b85114e",
      "name": "科技互联网",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.zhihu.com/api/v4/creators/rank/hot?domain=1000014&period=hour&limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.constants.accept }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.constants['user-agent'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        1168
      ],
      "id": "82950bb9-c018-4e32-bfd7-32213a8660e7",
      "name": "职场",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -240,
        592
      ],
      "id": "08423ba5-8544-4908-8fe4-0c0206a258cf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -240,
        976
      ],
      "id": "86938e20-4b75-4b02-b43b-31d4e52c6e35",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -240,
        1168
      ],
      "id": "589bb117-f8ed-4474-9d41-562306dcf816",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2747d43-e0be-4bba-a4d7-2c2bbf8069e4",
              "leftValue": "={{ $json.body.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        976
      ],
      "id": "4c476fef-d906-4389-b41b-bd6239864603",
      "name": "Fetch Question Check2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bc65570-cb6a-4282-98c1-dc2efd85551f",
              "leftValue": "={{ $json.body.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        592
      ],
      "id": "54bb8b0b-5fb4-441c-bc12-e8f637983f4d",
      "name": "Fetch Question Check1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "92469f55-3c94-43b0-94b8-122df68d7f70",
              "leftValue": "={{ $json.body.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        1168
      ],
      "id": "9ff4bdee-4f6e-45b0-8091-07e436199bfb",
      "name": "Fetch Question Check3"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "{\n  \"code\": 10400,\n  \"type\": \"bad request\",\n  \"reason\": \"通过URL抓取解析知乎问题失败\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -464,
        784
      ],
      "id": "940c2424-88bd-437c-8982-3094a4b796f4",
      "name": "402 Fetch Question Info Error"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        960
      ],
      "id": "9ce69fc2-073c-4a03-b6f7-fe6059fdec49",
      "name": "Merge All Questions",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -1136,
        976
      ],
      "id": "3d0840fa-c7ed-4a70-a123-bf4005282795",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "Jjly4kGXXobwJVQx",
          "name": "Zhihu Request Constant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const firstObj = $(\"Global Constants\").first().json;\nconst secondObj = $('Get Specific User').first().json ;\n\nconst mergedData = {\n  ...firstObj,\n  user: secondObj\n};\n\nreturn [{\n  json: mergedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        976
      ],
      "id": "3219df2b-74fe-41c0-afc7-591ccb758ab0",
      "name": "Post Processing"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userName",
              "keyValue": "={{ $json['account-name'].isNotEmpty()? $json['account-name'] : \"9747-94\" }}"
            },
            {
              "keyName": "expiredAt",
              "condition": "gte",
              "keyValue": "={{ $now }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1360,
        976
      ],
      "id": "abe1c6bc-f38b-4660-b606-e4eb56b47b87",
      "name": "Get Specific User"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6749b84-08a6-47a1-beae-b52c7876a603",
              "leftValue": "={{ $json.question.question_answer_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -16,
        592
      ],
      "id": "17e2feca-9fee-4a6f-a865-5fcec0b2f873",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70e4296c-d71a-458c-9103-4974d7616cb8",
              "leftValue": "={{ $json.question.question_answer_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -16,
        976
      ],
      "id": "9ed05768-7288-491a-a792-a6b6379ca8b0",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc97ba41-9abc-4cbc-8973-cf6b1510dfd0",
              "leftValue": "={{ $json.question.question_answer_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -16,
        1168
      ],
      "id": "50598c82-ba05-4225-8ac2-e8aa3d87a971",
      "name": "Filter2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        976
      ],
      "id": "f1a01993-2c9f-41e9-b202-e67d98ae186f",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a9e312c-ccf2-422c-9615-cfa895aff905",
              "name": "question-url",
              "value": "={{ $json.question.url }}",
              "type": "string"
            },
            {
              "id": "4c294bc0-5e64-4886-aa4e-9d19ccad9ab6",
              "name": "question-headline",
              "value": "={{ $json.question.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        976
      ],
      "id": "fae447b1-ba10-4fdf-b1e4-5662b3597e53",
      "name": "Extract Question List"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        656,
        976
      ],
      "id": "6e641b01-0bcc-46a4-b7b1-3b8c008c803c",
      "name": "Sort"
    }
  ],
  "pinData": {},
  "connections": {
    "Parent WF": {
      "main": [
        [
          {
            "node": "Get Specific User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "社会学": {
      "main": [
        [
          {
            "node": "Fetch Question Check1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "402 Fetch Question Info Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "科技互联网": {
      "main": [
        [
          {
            "node": "Fetch Question Check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "职场": {
      "main": [
        [
          {
            "node": "Fetch Question Check3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Question Check2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Question Check1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Question Check3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Post Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Processing": {
      "main": [
        [
          {
            "node": "社会学",
            "type": "main",
            "index": 0
          },
          {
            "node": "科技互联网",
            "type": "main",
            "index": 0
          },
          {
            "node": "职场",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific User": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge All Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Merge All Questions",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Merge All Questions",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Questions": {
      "main": [
        [
          {
            "node": "Extract Question List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question List": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "100c5710-2bf8-49ce-b5ca-b7290def4f0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "fh8yak7USRIKPs4r",
  "tags": []
}