content/Ops/N8N/workflows/zhihu/知乎点赞Bot.json
{
  "name": "知乎点赞Bot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21774a52-c953-4d5c-bd4e-335fa68e7c14",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6256,
        624
      ],
      "id": "7e72ce47-306b-4dea-aa04-520521bb8cba",
      "name": "Check Recommand Answer Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4aed0cf-e332-470c-af7a-35dbafbd97e4",
              "leftValue": "={{ $json.AnswerURL }}",
              "rightValue": "https://api.zhihu.com/answers/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5584,
        528
      ],
      "id": "47eef043-c839-47df-8f09-9f9a4cbcfd23",
      "name": "Filter"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "{\n  \"code\": 10401,\n  \"type\": \"auth\",\n  \"reason\": \"Zhihu Cookie Expired\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -6032,
        720
      ],
      "id": "834738c7-16ec-4c13-9ec1-6c7a5c2bceb3",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "const answerURL = $input.first().json.AnswerURL;\nconst answerId = answerURL.split('/').pop();\n\nreturn { answerId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4912,
        528
      ],
      "id": "02da899d-bcdd-4129-9dfb-3a53a237e7d1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.zhihu.com/api/v4/answers/{{ $('Code in JavaScript').item.json.answerId }}/voters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $('Post Processing').item.json.constants.accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $('Post Processing').item.json.constants['accept-language'] }}"
            },
            {
              "name": "origin",
              "value": "={{ $('Post Processing').item.json.constants.origin }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Post Processing').item.json.constants.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $('Post Processing').item.json.constants.referer }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $('Post Processing').item.json.constants['user-agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $('Post Processing').item.json.constants['x-requested-with'] }}"
            },
            {
              "name": "x-xsrftoken",
              "value": "={{ $json.xsrfToken }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $('Post Processing').item.json.constants['x-zse-93'] }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $('Post Processing').item.json.user.zse96 }}"
            },
            {
              "name": "x-zst-81",
              "value": "={{ $('Post Processing').item.json.user.zst81 }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "up"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4240,
        528
      ],
      "id": "aa15d0d5-0461-4358-a989-c37328429ada",
      "name": "HIt The Like Button",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.zhihu.com/api/v3/feed/topstory/recommend",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "down"
            },
            {
              "name": "ad_interval",
              "value": "-10"
            },
            {
              "name": "after_id",
              "value": "5"
            },
            {
              "name": "desktop",
              "value": "true"
            },
            {
              "name": "end_offset",
              "value": "5"
            },
            {
              "name": "page_number",
              "value": "1"
            },
            {
              "name": "session_token",
              "value": "bac953311f4ab822439743663e751ff3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.constants.accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $json.constants['accept-language'] }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.constants.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $json.constants.referer }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $json.constants['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $json.constants['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $json.constants['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $json.constants['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $json.constants['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $json.constants['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.constants['user-agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $json.constants['x-requested-with'] }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $json.constants['x-zse-93'] }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $json.user.zse96 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6480,
        624
      ],
      "id": "7e29f168-ca78-4b01-b534-0c0564107f19",
      "name": "Find Answer Candidates",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "25cdb5c3-9dc7-4aea-afc3-36e0896e359d",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4016,
        432
      ],
      "id": "16c8e012-ced2-4a50-8bcd-3133c3dcb27d",
      "name": "is Ok"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -7152,
        608
      ],
      "id": "86940c8b-680e-47db-967b-9c56e5ccaa16",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "Jjly4kGXXobwJVQx",
          "name": "Zhihu Request Constant"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6928,
        704
      ],
      "id": "72e178a3-dd59-4c05-b15e-447670666efa",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "59cc08a1-90d9-4fee-89ba-eeae3c5d25a8",
              "leftValue": "={{ $json['account-name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7376,
        944
      ],
      "id": "0e2dff03-4135-40c8-bad4-512ea1d9ef54",
      "name": "Has UserName"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userName",
              "keyValue": "={{ $('Like Configuration').item.json['account-name'] }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -7152,
        864
      ],
      "id": "2dbfeee3-e556-4eba-b0e8-e34f9dc0c71e",
      "name": "Get Specific User"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"user-agent\": \"\",\n    \"accept\": \"*/*\",\n    \"accept-language\": \"\",\n    \"priority\": \"u=1, i\",\n    \"sec-ch-ua\": \"\",\n    \"sec-ch-ua-mobile\": \"?0\",\n    \"sec-ch-ua-platform\": \"\",\n    \"sec-fetch-dest\": \"\",\n    \"sec-fetch-mode\": \"\",\n    \"sec-fetch-site\": \"\",\n    \"referer\": \"\",\n    \"x-requested-with\": \"fetch\",\n    \"x-zse-96\": \"\",\n    \"x-zse-93\": \"101_3_3.0\",\n    \"x-zse-81\": \"\",\n    \"x-api-version\": \"3.0.53\",\n    \"account-name\": \"aaron2333\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -7824,
        672
      ],
      "id": "64573d4e-b31d-4d2f-9e4f-daac6f95fce5",
      "name": "Parent WF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -7824,
        864
      ],
      "id": "6efc3da5-8f6e-4f35-aaf5-f58251566161",
      "name": "Hit Button"
    },
    {
      "parameters": {
        "jsCode": "const firstObj = $(\"Global Constants\").first().json;\nconst secondObj = $('Loop Over Items').isExecuted ? $('Loop Over Items').first().json: $('Get Specific User').first().json ;\n\nconst mergedData = {\n  ...firstObj,\n  user: secondObj\n};\n\nreturn [{\n  json: mergedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6704,
        624
      ],
      "id": "c7842b72-21d8-44ce-bb68-275ce27a00c5",
      "name": "Post Processing"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/headers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4688,
        528
      ],
      "id": "042395c3-cf5b-4f79-b582-87a33569855d",
      "name": "Retrieve Cookie",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.body.headers\nconst cookie = headers.Cookie || headers.cookie;\n\nconst parseCookie = (cookieString) => {\n  const cookies = {};\n  cookieString.split(';').forEach(item => {\n    const parts = item.trim().split('=');\n    if (parts.length >= 2) {\n      const key = parts[0];\n      const value = parts.slice(1).join('='); \n      cookies[key] = value;\n    }\n  });\n  return cookies;\n};\n\nconst cookieObj = parseCookie(cookie);\n\nconst xsrfToken = cookieObj._xsrf || '';\n\nif (!xsrfToken) {\n  throw new Error('_xsrf not found in cookie');\n}\n\nreturn {\n  json: {\n    cookie: cookie,\n    xsrfToken: xsrfToken,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4464,
        528
      ],
      "id": "c24539f1-5031-49cb-9952-7a34bce89b8d",
      "name": "Extract Xsrftoken"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "expiredAt",
              "condition": "gte",
              "keyValue": "={{ $now }}"
            },
            {}
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4016,
        1008
      ],
      "id": "66806e5e-ec38-4615-8e84-aa6a9a0fc30d",
      "name": "List All Live Users"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3792,
        624
      ],
      "id": "ae861db5-913c-4ac1-bf84-8e39b7313eb5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6032,
        528
      ],
      "id": "72dc4efe-fef4-4275-a346-de0a7380f340",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14171a44-8e8f-472b-9a1c-57c6dac9c72b",
              "name": "AnswerURL",
              "value": "={{ $json.target.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5808,
        528
      ],
      "id": "426ea9f6-3954-4e1d-8fdb-fd060ca437e1",
      "name": "Rename Field"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -5360,
        528
      ],
      "id": "3562c83b-e962-4bfa-8eab-7c1940835581",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -5136,
        528
      ],
      "id": "f96649f7-378a-47c1-96c6-7e353c54b403",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "305ecff5-5087-4788-adaa-a57397c09597",
              "name": "account-name",
              "value": "={{ $('Parent WF').isExecuted ? $('Parent WF').item.json[\"account-name\"] : \"\"  }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7600,
        768
      ],
      "id": "6d19b527-72f0-47c2-8374-7051dd599877",
      "name": "Like Configuration"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": 10401,\n  \"type\": \"like action failed\",\n  \"reason\": \"用户【{{ $('Post Processing').item.json.user.userName }}】执行点赞任务失败，被点赞回答为【{{ $('Limit').item.json.AnswerURL }}】\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3792,
        432
      ],
      "id": "1314b89f-a5bf-4ac2-8b91-4fc20f1af53f",
      "name": "LIke Action Failed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Specific User').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6e279b45-3c19-46cb-9b76-10c97886a8f6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "single"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f822a54-cd5c-4a29-9e0c-0a9bbef3e34a",
                    "leftValue": "={{ $('List All Live Users').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "multiple"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4016,
        624
      ],
      "id": "cd699204-602a-47cb-a174-0c3754f66bf6",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": "={{ Math.random().round() * 100 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3568,
        800
      ],
      "id": "101a8192-f701-48b6-b1b2-43a5f3fb88f8",
      "name": "Wait",
      "webhookId": "000757e3-a556-4282-86ab-7bbcf0e98b91"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Recommand Answer Exist": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Retrieve Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Answer Candidates": {
      "main": [
        [
          {
            "node": "Check Recommand Answer Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HIt The Like Button": {
      "main": [
        [
          {
            "node": "is Ok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Ok": {
      "main": [
        [],
        [
          {
            "node": "LIke Action Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Post Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has UserName": {
      "main": [
        [
          {
            "node": "Get Specific User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List All Live Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific User": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parent WF": {
      "main": [
        [
          {
            "node": "Like Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hit Button": {
      "main": [
        [
          {
            "node": "Like Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Processing": {
      "main": [
        [
          {
            "node": "Find Answer Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Cookie": {
      "main": [
        [
          {
            "node": "Extract Xsrftoken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Xsrftoken": {
      "main": [
        [
          {
            "node": "HIt The Like Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Live Users": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Rename Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Field": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Like Configuration": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "p5RyLH2hmXeM17r3",
    "timeSavedPerExecution": 30,
    "executionTimeout": 120
  },
  "versionId": "c4322e67-8199-4840-8e4a-ce521404a532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "KTf1o8zliBfNzr80",
  "tags": [
    {
      "updatedAt": "2025-11-18T07:22:52.820Z",
      "createdAt": "2025-11-18T07:22:52.820Z",
      "id": "xMo86Jtj4eUAi0tt",
      "name": "auto"
    },
    {
      "updatedAt": "2025-11-20T08:23:19.526Z",
      "createdAt": "2025-11-20T08:23:19.526Z",
      "id": "6dFxM59VuQ6nfHCI",
      "name": "action"
    },
    {
      "updatedAt": "2025-11-21T08:22:13.674Z",
      "createdAt": "2025-11-21T08:22:13.674Z",
      "id": "P0cpPGjupBdIATla",
      "name": "zhihu"
    }
  ]
}