content/Ops/N8N/workflows/zhihu/知乎关注Bot.json
{
  "name": "知乎关注Bot",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "269d2ae8-5206-4c31-a06d-bd0cab5337ef",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4336,
        208
      ],
      "id": "a6d0401d-d47a-47ab-896d-8be325ba87cc",
      "name": "200"
    },
    {
      "parameters": {
        "url": "https://www.zhihu.com/api/v4/moments/recommend_follow_people",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "rec_type",
              "value": "PC_HOME_FEED"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.Accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $json['accept-language'] }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $json.referer }}/follow"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $json['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $json['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $json['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $json['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $json['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $json['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json['User-Agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $json['x-requested-with'] }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $json['X-ZSE-93'] }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $json['X-ZSE-96'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6352,
        400
      ],
      "id": "b21c0fa7-96d9-4379-a4bd-bef7612e7b4f",
      "name": "Get Recommand Follow List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5904,
        304
      ],
      "id": "401e01ba-942e-4cf8-ae57-5773c749c9b4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -5456,
        304
      ],
      "id": "d868e6f6-0914-4c89-96fb-0280830c7dea",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -5232,
        304
      ],
      "id": "c9884560-fbb9-4849-81b6-02410bf6237a",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fd42d4f-95c5-416f-a676-42558e362e3a",
              "name": "personID",
              "value": "={{ $json.actor.url_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5680,
        304
      ],
      "id": "26c82914-a94c-4117-9a1b-cfa56e7926b5",
      "name": "Rename Field"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.zhihu.com/api/v4/members/{{ $('Limit').item.json.personID }}/followers ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $('Post Processing').item.json.constants.accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $('Post Processing').item.json.constants['accept-language'] }}"
            },
            {
              "name": "content-length",
              "value": "0"
            },
            {
              "name": "origin",
              "value": "={{ $('Post Processing').item.json.constants.origin }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Post Processing').item.json.constants.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $('Post Processing').item.json.constants.referer }}/follow"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $('Post Processing').item.json.constants['user-agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $('Post Processing').item.json.constants['x-requested-with'] }}"
            },
            {
              "name": "x-xsrftoken",
              "value": "={{ $json.xsrfToken }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $('Post Processing').item.json.constants['x-zse-93'] }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $('Post Processing').item.json.user.zse96 }}"
            },
            {
              "name": "x-zst-81",
              "value": "={{ $('Post Processing').item.json.user.zst81 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4560,
        304
      ],
      "id": "1da1fe70-ba04-4a44-9359-e3d388c99e82",
      "name": "Make A Follow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "url": "https://httpbin.org/headers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5008,
        304
      ],
      "id": "280c9e01-1ac8-46c0-a406-6f380f5e0a74",
      "name": "Retrieve Cookie",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.body.headers\nconst cookie = headers.Cookie || headers.cookie;\n\nconst parseCookie = (cookieString) => {\n  const cookies = {};\n  cookieString.split(';').forEach(item => {\n    const parts = item.trim().split('=');\n    if (parts.length >= 2) {\n      const key = parts[0];\n      const value = parts.slice(1).join('='); \n      cookies[key] = value;\n    }\n  });\n  return cookies;\n};\n\nconst cookieObj = parseCookie(cookie);\n\nconst xsrfToken = cookieObj._xsrf || '';\n\nif (!xsrfToken) {\n  throw new Error('_xsrf not found in cookie');\n}\n\nreturn {\n  json: {\n    cookie: cookie,\n    xsrfToken: xsrfToken,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4784,
        304
      ],
      "id": "f24c901f-2716-4f13-8d45-ecd07a82ffb0",
      "name": "Extract Xsrftoken"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "770b6dbe-4fc2-41b9-98d7-1e5ca8641648",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6128,
        400
      ],
      "id": "85da95de-39da-4139-87d3-93c9f1d3fbd3",
      "name": "ok?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -7024,
        384
      ],
      "id": "53891b8d-3512-4c2f-b605-877f11a1c915",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "Jjly4kGXXobwJVQx",
          "name": "Zhihu Request Constant"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "expiredAt",
              "condition": "gte",
              "keyValue": "={{ $now }}"
            },
            {}
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4384,
        704
      ],
      "id": "224d4f7a-0da8-4897-a348-7bee66d59e69",
      "name": "List All Live Users"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6800,
        480
      ],
      "id": "0f216c6a-1254-4c6c-a499-6c8bfd84cf25",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "59cc08a1-90d9-4fee-89ba-eeae3c5d25a8",
              "leftValue": "={{ $json['account-name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        720
      ],
      "id": "69cd4df1-fb77-4dff-90eb-5ddee776256c",
      "name": "Has UserName"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userName",
              "keyValue": "={{ $('Follow Configuration').item.json['account-name'] }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -7024,
        640
      ],
      "id": "761c619e-c324-40db-b026-6a914a5d128f",
      "name": "Get Specific User"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"user-agent\": \"\",\n    \"accept\": \"*/*\",\n    \"accept-language\": \"\",\n    \"priority\": \"u=1, i\",\n    \"sec-ch-ua\": \"\",\n    \"sec-ch-ua-mobile\": \"?0\",\n    \"sec-ch-ua-platform\": \"\",\n    \"sec-fetch-dest\": \"\",\n    \"sec-fetch-mode\": \"\",\n    \"sec-fetch-site\": \"\",\n    \"referer\": \"\",\n    \"x-requested-with\": \"fetch\",\n    \"x-zse-96\": \"\",\n    \"x-zse-93\": \"101_3_3.0\",\n    \"x-zse-81\": \"\",\n    \"x-api-version\": \"3.0.53\",\n    \"account-name\": \"aaron2333\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -7696,
        448
      ],
      "id": "56e5ce07-9774-429e-8ddf-874fb345fb4d",
      "name": "Parent WF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "305ecff5-5087-4788-adaa-a57397c09597",
              "name": "account-name",
              "value": "={{ $('Parent WF').isExecuted ? $('Parent WF').item.json[\"account-name\"] : \"\"  }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7472,
        544
      ],
      "id": "624bafe0-5a57-4a38-bfc6-4b7b621d3029",
      "name": "Follow Configuration"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -7696,
        640
      ],
      "id": "c4b938f7-2bf2-4f4c-866f-8097d17b8c46",
      "name": "Hit Button"
    },
    {
      "parameters": {
        "jsCode": "const firstObj = $(\"Global Constants\").first().json;\nconst secondObj = $('Loop Over Items').isExecuted ? $('Loop Over Items').first().json: $('Get Specific User').first().json ;\n\nconst mergedData = {\n  ...firstObj,\n  user: secondObj\n};\n\nreturn [{\n  json: mergedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6576,
        400
      ],
      "id": "1504b250-c7c9-4376-a4f8-37cb9d4cbd5c",
      "name": "Post Processing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4112,
        640
      ],
      "id": "b1b5ba63-cb3f-4dc8-be57-f3a2fecae4e4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": 10403,\n  \"type\": \"follow failed\",\n  \"reason\": \"用户【{{ $('Post Processing').item.json.user.userName }}】执行关注任务失败，被关注人【{{ $('Limit').item.json.personID }}】\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3904,
        208
      ],
      "id": "c6ecbf91-1777-47d6-8540-75b6d59a36c1",
      "name": "Follow Action Failed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Specific User').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6e279b45-3c19-46cb-9b76-10c97886a8f6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "single"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f822a54-cd5c-4a29-9e0c-0a9bbef3e34a",
                    "leftValue": "={{ $('List All Live Users').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "multiple"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4336,
        400
      ],
      "id": "e30e5aff-f0c7-427e-b932-38a9cf584340",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": 10404,\n  \"type\": \"fetch follower list failed\",\n  \"reason\": \"用户【{{ $('Post Processing').item.json.user.userName }}】执行关注任务失败，因为无法获取推荐的关注列表\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5904,
        496
      ],
      "id": "eab0509d-b24b-470d-a96d-c675182e1aa8",
      "name": "Fetch Recommand Users Failed"
    },
    {
      "parameters": {
        "amount": "={{ Math.random().round() * 100 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3904,
        736
      ],
      "id": "fb5152f8-ccd7-49eb-9d8b-f76b204bc015",
      "name": "Wait",
      "webhookId": "2f078388-edbc-453b-9f74-c248657b17a2"
    }
  ],
  "pinData": {},
  "connections": {
    "200": {
      "main": [
        [],
        [
          {
            "node": "Follow Action Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recommand Follow List": {
      "main": [
        [
          {
            "node": "ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Rename Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Retrieve Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Field": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Cookie": {
      "main": [
        [
          {
            "node": "Extract Xsrftoken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Xsrftoken": {
      "main": [
        [
          {
            "node": "Make A Follow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make A Follow": {
      "main": [
        [
          {
            "node": "200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ok?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Recommand Users Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has UserName": {
      "main": [
        [
          {
            "node": "Get Specific User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List All Live Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific User": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parent WF": {
      "main": [
        [
          {
            "node": "Follow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Configuration": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hit Button": {
      "main": [
        [
          {
            "node": "Follow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Post Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Processing": {
      "main": [
        [
          {
            "node": "Get Recommand Follow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Live Users": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "p5RyLH2hmXeM17r3",
    "timeSavedPerExecution": 30,
    "executionTimeout": 120
  },
  "versionId": "6177aa22-5126-4f03-b9a8-9f9602a487b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "QgORgExpGGXsZ8eM",
  "tags": [
    {
      "updatedAt": "2025-11-18T07:22:52.820Z",
      "createdAt": "2025-11-18T07:22:52.820Z",
      "id": "xMo86Jtj4eUAi0tt",
      "name": "auto"
    },
    {
      "updatedAt": "2025-11-20T08:23:19.526Z",
      "createdAt": "2025-11-20T08:23:19.526Z",
      "id": "6dFxM59VuQ6nfHCI",
      "name": "action"
    },
    {
      "updatedAt": "2025-11-21T08:22:13.674Z",
      "createdAt": "2025-11-21T08:22:13.674Z",
      "id": "P0cpPGjupBdIATla",
      "name": "zhihu"
    }
  ]
}