content/Ops/N8N/workflows/zhihu/知乎圆环挑战 Template.json
{
  "name": "知乎圆环挑战 Template",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g3sbrdWsBUDtpnhu",
          "mode": "list",
          "cachedResultUrl": "/workflow/g3sbrdWsBUDtpnhu",
          "cachedResultName": "知乎回答Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "direct-publish": "={{ $json['direct-publish'] }}",
            "disclaimer-type": "={{ $json['disclaimer-type'] }}",
            "account-name": "={{ $json['account-name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "question-url",
              "displayName": "question-url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "direct-publish",
              "displayName": "direct-publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "account-name",
              "displayName": "account-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "disclaimer-type",
              "displayName": "disclaimer-type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        -256
      ],
      "id": "c846921d-5131-4487-9421-a8569a8f7a10",
      "name": "Call '知乎回答Bot'",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KTf1o8zliBfNzr80",
          "mode": "list",
          "cachedResultUrl": "/workflow/KTf1o8zliBfNzr80",
          "cachedResultName": "知乎点赞Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account-name": "={{ $json['account-name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user-agent",
              "displayName": "user-agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "accept",
              "displayName": "accept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "accept-language",
              "displayName": "accept-language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua",
              "displayName": "sec-ch-ua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua-mobile",
              "displayName": "sec-ch-ua-mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua-platform",
              "displayName": "sec-ch-ua-platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-dest",
              "displayName": "sec-fetch-dest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-mode",
              "displayName": "sec-fetch-mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-site",
              "displayName": "sec-fetch-site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "referer",
              "displayName": "referer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-requested-with",
              "displayName": "x-requested-with",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-96",
              "displayName": "x-zse-96",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-93",
              "displayName": "x-zse-93",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-81",
              "displayName": "x-zse-81",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-api-version",
              "displayName": "x-api-version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "account-name",
              "displayName": "account-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        -64
      ],
      "id": "44e195d9-2d39-4803-9dae-8dd8af5a1212",
      "name": "Call '知乎点赞Bot'",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QgORgExpGGXsZ8eM",
          "mode": "list",
          "cachedResultUrl": "/workflow/QgORgExpGGXsZ8eM",
          "cachedResultName": "知乎关注Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account-name": "={{ $json['account-name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user-agent",
              "displayName": "user-agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "accept",
              "displayName": "accept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "accept-language",
              "displayName": "accept-language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua",
              "displayName": "sec-ch-ua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua-mobile",
              "displayName": "sec-ch-ua-mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-ch-ua-platform",
              "displayName": "sec-ch-ua-platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-dest",
              "displayName": "sec-fetch-dest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-mode",
              "displayName": "sec-fetch-mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "sec-fetch-site",
              "displayName": "sec-fetch-site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "referer",
              "displayName": "referer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-requested-with",
              "displayName": "x-requested-with",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-96",
              "displayName": "x-zse-96",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-93",
              "displayName": "x-zse-93",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-zse-81",
              "displayName": "x-zse-81",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "x-api-version",
              "displayName": "x-api-version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "account-name",
              "displayName": "account-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        128
      ],
      "id": "56302b29-b539-4c66-8afb-5454dde75f9b",
      "name": "Call '知乎关注Bot'",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        -64
      ],
      "id": "7dd5b375-7019-4122-afbb-a925fc635b88",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2b123c-c748-440b-8491-4cdd3283a2ee",
              "name": "account-name",
              "value": "9747-94",
              "type": "string"
            },
            {
              "id": "204e8409-6b33-4d64-b20f-968068f1ea93",
              "name": "direct-publish",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "73c695c1-53e6-4dd4-a71b-33b8d1aa1531",
              "name": "disclaimer-type",
              "value": "ai_creation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -64
      ],
      "id": "40393950-01c1-4448-8a88-291b70d39b3f",
      "name": "Challenge Configuration"
    }
  ],
  "pinData": {},
  "connections": {
    "Call '知乎点赞Bot'": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Challenge Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Challenge Configuration": {
      "main": [
        [
          {
            "node": "Call '知乎点赞Bot'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call '知乎回答Bot'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call '知乎关注Bot'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "p5RyLH2hmXeM17r3",
    "timeSavedPerExecution": 30
  },
  "versionId": "7a080b9b-2b31-4295-935f-784660629fb6",
  "meta": {
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "nfojOXGiJP7YoTKc",
  "tags": [
    {
      "updatedAt": "2025-11-27T02:26:15.189Z",
      "createdAt": "2025-11-27T02:26:15.189Z",
      "id": "KtIo1svXamAGnJ7l",
      "name": "template"
    },
    {
      "updatedAt": "2025-11-21T08:22:13.674Z",
      "createdAt": "2025-11-21T08:22:13.674Z",
      "id": "P0cpPGjupBdIATla",
      "name": "zhihu"
    },
    {
      "updatedAt": "2025-11-18T07:22:52.820Z",
      "createdAt": "2025-11-18T07:22:52.820Z",
      "id": "xMo86Jtj4eUAi0tt",
      "name": "auto"
    }
  ]
}