content/Ops/N8N/workflows/zhihu/知乎回答Bot.json
{
  "name": "知乎回答Bot",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen3-max-preview",
          "mode": "list",
          "cachedResultName": "qwen3-max-preview"
        },
        "options": {}
      },
      "id": "ed718bae-af02-47ce-8098-8c15c5126345",
      "name": "Qwen-max",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -6496,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "3RfSPHHJk9juqKE8",
          "name": "Tongyi Free"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=用户提出的问题：{{ $('Extract Question Detail').item.json.question }}，关于该问题的描述：{{ $('Extract Question Detail').item.json.description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Agent Prompt:\n\n{{ $json.profilePrompt }}\n\n输出必须是一个JSON对象，包含三个字段：\n\n\"question\": 用户提出的原始问题（字符串类型）。\n\n\"description\": 提出的问题的描述信息（字符串类型）。\n\n\"answer\": 你的评论内容（字符串类型，HTML格式, 但不能有换行符\"\\n\"）。\n\n\n示例输出格式：\n{\n\"question\": \"用户提出的问题\",\n\"description\": 提出的问题的描述,\n\"answer\": \"你的HTML格式评论，至少200字，包含emoji和口语化表达。\"\n}\n\n现在，开始处理用户问题吧！记住，你的评论要像真实人类写的那样自然、有情感。😊 ",
          "enableStreaming": true
        }
      },
      "id": "f5569216-0039-4dc6-a00e-2cf55956ae1e",
      "name": "Answer Question",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -6416,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"question\": \"\",\n\t\"answer\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -6336,
        768
      ],
      "id": "23efe917-733d-460e-9914-b03f35ed2c8f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "知乎问题链接",
        "formFields": {
          "values": [
            {
              "fieldLabel": "question-url",
              "placeholder": "https://www.zhihu.com/question/...",
              "requiredField": true
            },
            {
              "fieldLabel": "direct-publish",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "true"
                  },
                  {
                    "option": "false"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "disclaimer-type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ai_creation"
                  },
                  {
                    "option": "none"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "account-name",
              "placeholder": "https://www.zhihu.com/people/{account-name}"
            }
          ]
        },
        "options": {
          "appendAttribution": true,
          "buttonLabel": "让n8n去回答",
          "path": "question"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -9104,
        704
      ],
      "id": "2a025c9a-4425-4b20-a830-26ea8ab59e91",
      "name": "Specific URL",
      "webhookId": "a466d58a-fd4e-413e-bcbb-3c2167c21e3c",
      "credentials": {
        "httpBasicAuth": {
          "id": "3dlYEOreNYx6kZ0c",
          "name": "n8n Form Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['question-url'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $json.constants.accept }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.constants['user-agent'] }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $json.constants['accept-language'] }}"
            },
            {
              "name": "origin",
              "value": "={{ $json.constants.origin }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.constants.priority }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $json.constants['sec-ch-ua'] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7536,
        640
      ],
      "id": "6f756c86-6a29-47b4-982f-b1c036171d2b",
      "name": "Fetch Question Detail",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "8Uxp7RypTsYelZ1E",
          "name": "ScreenshotOne Auth [byang628]"
        },
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "78de2d85-8875-47a0-a5c1-77d9c73553ba",
              "leftValue": "={{ $json.editable_content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4848,
        688
      ],
      "id": "e1a3797c-f270-47e4-9d84-240e6d461e9c",
      "name": "Draft Generation Check"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/headers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6064,
        544
      ],
      "id": "e8973f14-b4a7-4a18-84b1-b9f59a3a61cb",
      "name": "Retrieve Cookie",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.body.headers\nconst cookie = headers.Cookie || headers.cookie;\n\nconst parseCookie = (cookieString) => {\n  const cookies = {};\n  cookieString.split(';').forEach(item => {\n    const parts = item.trim().split('=');\n    if (parts.length >= 2) {\n      const key = parts[0];\n      const value = parts.slice(1).join('='); \n      cookies[key] = value;\n    }\n  });\n  return cookies;\n};\n\nconst cookieObj = parseCookie(cookie);\n\nconst xsrfToken = cookieObj._xsrf || '';\n\nif (!xsrfToken) {\n  throw new Error('_xsrf not found in cookie');\n}\n\nreturn {\n  json: {\n    cookie: cookie,\n    xsrfToken: xsrfToken,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5744,
        544
      ],
      "id": "892afc9a-51ff-4e4f-aa02-45a78d18550c",
      "name": "Extract Xsrftoken"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.zhihu.com/api/v4/questions/{{ $('Post Processing').first().json['question-url'].split(\"/\").at(-1) }}/draft",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $('Post Processing').item.json.constants.accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $('Post Processing').item.json.constants['accept-language'] }}"
            },
            {
              "name": "origin",
              "value": "={{ $('Post Processing').item.json.constants.origin }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Post Processing').item.json.constants.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $('Post Processing').item.json.constants.referer }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $('Post Processing').item.json.constants['user-agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $('Post Processing').item.json.constants['x-requested-with'] }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $('Post Processing').item.json.constants['x-zse-93'] }}"
            },
            {
              "name": "x-xsrftoken",
              "value": "={{ $('Extract Xsrftoken').item.json.xsrfToken }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $('Post Processing').item.json.user.zse96 }}"
            },
            {
              "name": "x-zst-81",
              "value": "={{ $('Post Processing').item.json.user.zst81 }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/json",
        "body": "={\"content\":\"{{ $('Answer Question').item.json.output.answer }}\",\"delta_time\":2,\"draft_type\":\"normal\",\"settings\":{\"reshipment_settings\":\"allowed\",\"columns\":null,\"comment_permission\":\"all\",\"can_reward\":false,\"tagline\":\"\",\"disclaimer_status\":\"open\",\"disclaimer_type\":\"{{ $('Post Processing').item.json['disclaimer-type'] }}\",\"commercial_report_info\":{\"is_report\":false},\"push_activity\":true,\"table_of_contents_enabled\":false,\"thank_inviter_status\":\"close\",\"thank_inviter\":\"\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5072,
        688
      ],
      "id": "d408a11c-adf9-4217-907c-8ba47950fed9",
      "name": "Generate Answer Draft",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        const r = Math.random() * 16 | 0;\n        const v = c === 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\nconst traceId = `${Date.now()},${generateUUID()}`;\nreturn { traceId: traceId }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5296,
        400
      ],
      "id": "b81ae0ce-8d18-4197-af35-f91224ee94e8",
      "name": "Generate UUID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6365387-2ee5-4e0d-811b-230a5ac3ba3c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4848,
        400
      ],
      "id": "51f3bf5f-cd85-4d72-96f5-39426a2b894d",
      "name": "Publish Answer Check"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "{\n  \"code\": 10400,\n  \"type\": \"bad request\",\n  \"reason\": \"用户提交的问题URL不合法，需要使用https://www.zhihu.com/question...开头的链接\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -8656,
        464
      ],
      "id": "76d0443d-6ee2-438d-96ee-089028d1c40e",
      "name": "400 Invalid URL Error",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3d45f01-0652-4f67-a3e0-7b0a4f7eeab0",
              "leftValue": "={{ $json[\"question-url\"] }}",
              "rightValue": "https://www.zhihu.com/question",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8880,
        512
      ],
      "id": "7f614a85-cf56-41e6-ae58-7b3ed0d9f4be",
      "name": "inValid URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -8208,
        624
      ],
      "id": "0d682a2a-3069-46bc-bfee-2938798d1ff6",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "Jjly4kGXXobwJVQx",
          "name": "Zhihu Request Constant"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fh8yak7USRIKPs4r",
          "mode": "list",
          "cachedResultUrl": "/workflow/fh8yak7USRIKPs4r",
          "cachedResultName": "Fetch Hot Question URL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account-name": "={{ $json['account-name'] }}"
          },
          "matchingColumns": [
            "account-name"
          ],
          "schema": [
            {
              "id": "account-name",
              "displayName": "account-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -8880,
        704
      ],
      "id": "7c1bc105-2bdc-44f2-8951-bc00591463de",
      "name": "Call 'Fetch Hot Question URL'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05c11241-0cdb-473d-b30e-6e2a673105c3",
              "name": "question-url",
              "value": "={{ $('Specific URL').isExecuted ? $('Specific URL').item.json['question-url']: $json['question-url'] }}",
              "type": "string"
            },
            {
              "id": "ceb26768-d83c-46dd-af1a-a3a41666e404",
              "name": "direct-publish",
              "value": "={{ $('Parent WF').isExecuted ? $('Parent WF').item.json[\"direct-publish\"] : $json['direct-publish'] }}",
              "type": "boolean"
            },
            {
              "id": "49700d6b-c4b0-4e6e-bec9-9bde0e9a9a9e",
              "name": "disclaimer-type",
              "value": "={{ $('Parent WF').isExecuted ? $('Parent WF').item.json[\"disclaimer-type\"] : $json['disclaimer-type'] }}",
              "type": "string"
            },
            {
              "id": "305ecff5-5087-4788-adaa-a57397c09597",
              "name": "account-name",
              "value": "={{ $('Parent WF').isExecuted ? $('Parent WF').item.json[\"account-name\"] : \"\"  }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8656,
        800
      ],
      "id": "03f983b5-2ba2-4bcc-8e85-47e12eec171a",
      "name": "Question Configuration"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"question-url\": \"\",\n    \"direct-publish\": false,\n    \"account-name\": \"aaron2333\",\n    \"disclaimer-type\": \"ai_creation\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -9328,
        512
      ],
      "id": "423456a7-c6f8-46b0-8668-4c2d77e90db0",
      "name": "Parent WF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -8880,
        896
      ],
      "id": "0f0628f0-c2eb-4f1c-852c-ed3d40080b4c",
      "name": "Hit Button"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "expiredAt",
              "condition": "gte",
              "keyValue": "={{ $now }}"
            },
            {}
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -4592,
        1072
      ],
      "id": "1201f788-4193-41a3-8062-3e30bd66778e",
      "name": "List All Live Users"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4400,
        544
      ],
      "id": "b6dbbea1-652d-42ab-92a1-e47e949386f9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d7fcd5b-f83c-4746-98eb-6c39c5b3935a",
              "leftValue": "={{ $('Call \\'Fetch Hot Question URL\\'').isExecuted? $('Call \\'Fetch Hot Question URL\\'').first().json[\"question-url\"] : $('Parent WF').first().json[\"question-url\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ceb958ea-3a06-46dc-9397-aefe30abe077",
              "leftValue": "={{ $('Call \\'Fetch Hot Question URL\\'').isExecuted? $('Call \\'Fetch Hot Question URL\\'').first().json[\"question-url\"] : $('Parent WF').first().json[\"question-url\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9104,
        512
      ],
      "id": "04582494-97dc-4140-91c2-0b17ac80e762",
      "name": "Has URL?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -7984,
        720
      ],
      "id": "66700e21-73cf-408c-aee1-f5920fdfedc0",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const firstObj = $(\"Global Constants\").first().json;\nconst secondObj = $('Loop Over Items').isExecuted ? $('Loop Over Items').first().json: $('Get Specific User').first().json ;\n\nconst mergedData = {\n  ...firstObj,\n  user: secondObj\n};\n\nreturn [{\n  json: mergedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7760,
        640
      ],
      "id": "06ef2e1f-6f23-4db0-a1b8-a4a7b15799fc",
      "name": "Post Processing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "113e34cf-a690-4268-8a2e-a1b5ad430eef",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7312,
        640
      ],
      "id": "000c953f-db92-4217-b22d-8446dfdc4b8a",
      "name": "If"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": {{ $json.statusCode }},\n  \"type\": \"{{ $json.statusMessage }}\",\n  \"reason\": \"获取问题详情失败，失败的问题URL为{{ $('Question Configuration').first().json['question-url'] }}，请求节点参数{{ $('Fetch Question Detail').item.json.headers.urlEncode() }}\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -7088,
        832
      ],
      "id": "46c6a231-cf9f-4c89-8616-3c79fd34713e",
      "name": "402 Failed To Fetch Question Detail"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ONVlAGmcNXvAAm6W",
          "mode": "list",
          "cachedResultName": "zhihu_answerd_questions",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/ONVlAGmcNXvAAm6W"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "questionURL": "={{ $('Post Processing').item.json['question-url'] }}",
            "userName": "={{ $('Post Processing').item.json.user.userName }}",
            "questionTitle": "={{ $json.question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "questionURL",
              "displayName": "questionURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "questionTitle",
              "displayName": "questionTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -6864,
        544
      ],
      "id": "23b7f70c-59af-4e1f-a911-e1cb6baf53be",
      "name": "Insert User Answered Table"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "question",
              "cssSelector": ".QuestionHeader-title"
            },
            {
              "key": "description",
              "cssSelector": ".QuestionRichText"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -7088,
        544
      ],
      "id": "3771d5be-ae35-42ad-87b5-72226722f044",
      "name": "Extract Question Detail"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "QYkfIFW1x6I3jCgH",
          "mode": "list",
          "cachedResultName": "zhihu_user_profile",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/QYkfIFW1x6I3jCgH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userName",
              "keyValue": "={{ $json.userName }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -6640,
        544
      ],
      "id": "53c85aac-2fa2-48ca-a80a-9e5e58ffd8bc",
      "name": "Get User Profile"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.zhihu.com/api/v4/content/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "={{ $('Post Processing').item.json.constants.accept }}"
            },
            {
              "name": "accept-language",
              "value": "={{ $('Post Processing').item.json.constants['accept-language'] }}"
            },
            {
              "name": "origin",
              "value": "={{ $('Post Processing').item.json.constants.origin }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Post Processing').item.json.constants.priority }}"
            },
            {
              "name": "referer",
              "value": "={{ $('Post Processing').item.json.constants.referer }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua'] }}"
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-mobile'] }}"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "={{ $('Post Processing').item.json.constants['sec-ch-ua-platform'] }}"
            },
            {
              "name": "sec-fetch-dest",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-dest'] }}"
            },
            {
              "name": "sec-fetch-mode",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-mode'] }}"
            },
            {
              "name": "sec-fetch-site",
              "value": "={{ $('Post Processing').item.json.constants['sec-fetch-site'] }}"
            },
            {
              "name": "user-agent",
              "value": "={{ $('Post Processing').item.json.constants['user-agent'] }}"
            },
            {
              "name": "x-requested-with",
              "value": "={{ $('Post Processing').item.json.constants['x-requested-with'] }}"
            },
            {
              "name": "x-zse-93",
              "value": "={{ $('Post Processing').item.json.constants['x-zse-93'] }}"
            },
            {
              "name": "x-xsrftoken",
              "value": "={{ $('Extract Xsrftoken').item.json.xsrfToken }}"
            },
            {
              "name": "x-zse-96",
              "value": "={{ $('Post Processing').item.json.user.zse96 }}"
            },
            {
              "name": "x-zst-81",
              "value": "={{ $('Post Processing').item.json.user.zst81 }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/json",
        "body": "={\"action\":\"answer\",\"data\":{\"publish\":{\"traceId\":\"{{ $('Generate UUID').item.json.output.traceId }}\"},\"hybridInfo\":{},\"draft\":{\"isPublished\":false,\"disabled\":1},\"extra_info\":{\"question_id\":\"{{ $('Post Processing').first().json['question-url'].split(\"/\").at(-1) }}\",\"publisher\":\"pc\",\"bizExt\":null},\"hybrid\":{\"html\":\"{{ $('Answer Question').item.json.output.answer }}\"},\"reprint\":{\"reshipment_settings\":\"allowed\"},\"commentsPermission\":{\"comment_permission\":\"all\"},\"appreciate\":{\"can_reward\":false,\"tagline\":\"\"},\"publishSwitch\":{\"draft_type\":\"normal\"},\"creationStatement\":{\"disclaimer_status\":\"open\",\"disclaimer_type\":\"{{ $('Post Processing').item.json['disclaimer-type'] }}\"},\"commercialReportInfo\":{\"isReport\":0},\"toFollower\":{},\"contentsTables\":{\"table_of_contents_enabled\":false},\"thanksInvitation\":{\"thank_inviter_status\":\"close\",\"thank_inviter\":\"\"}}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5072,
        400
      ],
      "id": "3bbbb1e4-d9ec-406b-8de9-b3e0538972ef",
      "name": "Publish Answer",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EgIBXrukQEw9mDVb",
          "name": "Zhihu Dynamic Cookie"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "59cc08a1-90d9-4fee-89ba-eeae3c5d25a8",
              "leftValue": "={{ $json['account-name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8432,
        1056
      ],
      "id": "3105eb5e-2eb8-40c8-9b78-4f8987e222f9",
      "name": "Has UserName"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8QlywT7dEuKZaRKR",
          "mode": "list",
          "cachedResultName": "zhihu_user_cookie",
          "cachedResultUrl": "/projects/AKjnsnZKoJoTBYo2/datatables/8QlywT7dEuKZaRKR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userName",
              "keyValue": "={{ $('Question Configuration').item.json['account-name'] }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -8208,
        992
      ],
      "id": "771a4ae3-c668-4db6-ac62-ed7c65fb079a",
      "name": "Get Specific User"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": 10503,\n  \"type\": \"api failed\",\n  \"reason\": \"生成知乎回答草稿失败，对应知乎问题为{{ $('Extract Question Detail').item.json.question }}，对应问题链接：{{ $('Post Processing').item.json['question-url'] }} 已生成的回答为：{{ $('Answer Question').item.json.output.answer }}\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4624,
        736
      ],
      "id": "6192bb46-ba1e-4085-bdbf-0f855fddec24",
      "name": "Publish Draft Failed"
    },
    {
      "parameters": {
        "errorType": "errorObject",
        "errorObject": "={\n  \"code\": 10503,\n  \"type\": \"answer failed\",\n  \"reason\": \"生成知乎回答失败，对应知乎问题为{{ $('Extract Question Detail').item.json.question }}，对应问题链接：{{ $('Post Processing').item.json['question-url'] }} 已生成的回答为：{{ $('Answer Question').item.json.output.answer }}\"\n}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4624,
        352
      ],
      "id": "ed315e06-63a8-4cff-82c2-5fcb8fbcf278",
      "name": "Publish Answer Failed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Specific User').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6e279b45-3c19-46cb-9b76-10c97886a8f6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "single"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f822a54-cd5c-4a29-9e0c-0a9bbef3e34a",
                    "leftValue": "={{ $('List All Live Users').isExecuted }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "multiple"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4624,
        544
      ],
      "id": "d93657d4-788c-4c83-8da1-5287bb7f0a7c",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## TODO\n1. cache  failed answer, save token\n2. send ding talk when multiple cookie"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7728,
        -96
      ],
      "typeVersion": 1,
      "id": "826bff00-2d2b-4e29-8cf9-558476462315",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8cb2d10a-9067-402b-ab84-09fb40c15cc5",
              "leftValue": "={{ $('Post Processing').item.json['direct-publish'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6b82467d-9285-4fa2-b7dd-f8a5f84a0a10",
              "leftValue": "={{ $('Post Processing').item.json['direct-publish'] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5520,
        544
      ],
      "id": "4d99eb78-dd85-4ded-9ae3-5853f2bb3ff2",
      "name": "Publish Or Not?"
    },
    {
      "parameters": {
        "amount": "={{ Math.random().round() * 100 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4176,
        816
      ],
      "id": "257c85c0-899f-4a7d-a268-acfcfe123a7f",
      "name": "Wait",
      "webhookId": "00907dab-c020-4d1c-b287-24081cb5f3f6"
    }
  ],
  "pinData": {
    "Parent WF": [
      {
        "json": {
          "question-url": "",
          "direct-publish": false,
          "account-name": "9747-94",
          "disclaimer-type": "ai_creation"
        }
      }
    ]
  },
  "connections": {
    "Qwen-max": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Question",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer Question": {
      "main": [
        [
          {
            "node": "Retrieve Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Answer Question",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Specific URL": {
      "main": [
        [
          {
            "node": "inValid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Question Detail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Draft Generation Check": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Draft Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Cookie": {
      "main": [
        [
          {
            "node": "Extract Xsrftoken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Xsrftoken": {
      "main": [
        [
          {
            "node": "Publish Or Not?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer Draft": {
      "main": [
        [
          {
            "node": "Draft Generation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UUID": {
      "main": [
        [
          {
            "node": "Publish Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inValid URL": {
      "main": [
        [
          {
            "node": "400 Invalid URL Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Fetch Hot Question URL'": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question Configuration": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent WF": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hit Button": {
      "main": [
        [
          {
            "node": "Question Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Live Users": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "inValid URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Fetch Hot Question URL'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Post Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Processing": {
      "main": [
        [
          {
            "node": "Fetch Question Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Question Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "402 Failed To Fetch Question Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User Answered Table": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question Detail": {
      "main": [
        [
          {
            "node": "Insert User Answered Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Answer Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Answer": {
      "main": [
        [
          {
            "node": "Publish Answer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has UserName": {
      "main": [
        [
          {
            "node": "Get Specific User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List All Live Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specific User": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Publish Answer Check": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Answer Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Or Not?": {
      "main": [
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Answer Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "p5RyLH2hmXeM17r3",
    "timeSavedPerExecution": 30,
    "executionTimeout": 120
  },
  "versionId": "6bdc27d4-fef4-4c62-b50a-0a177b1577b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "g3sbrdWsBUDtpnhu",
  "tags": [
    {
      "updatedAt": "2025-11-18T07:22:52.820Z",
      "createdAt": "2025-11-18T07:22:52.820Z",
      "id": "xMo86Jtj4eUAi0tt",
      "name": "auto"
    },
    {
      "updatedAt": "2025-11-18T08:03:19.366Z",
      "createdAt": "2025-11-18T08:03:19.366Z",
      "id": "MuRG1EP7qERWEl1g",
      "name": "QA"
    },
    {
      "updatedAt": "2025-11-21T08:22:13.674Z",
      "createdAt": "2025-11-21T08:22:13.674Z",
      "id": "P0cpPGjupBdIATla",
      "name": "zhihu"
    }
  ]
}